@font-face {
    font-family: 'Verdana';
    src: url('Assets/font/Verdana.eot');
    src: url('Assets/font/Verdana.eot') format('embedded-opentype'),
        url('Assets/font/Verdana.woff2') format('woff2'),
        url('Assets/font/Verdana.woff') format('woff'),
        url('Assets/font/Verdana.ttf') format('truetype'),
        url('Assets/font/Verdana.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary-color: #c7b198;
    --secondary-color:#e9a3a6;
    --main-bg-color: #cccccc;
    --main-txt-color: blue;
  }

  body{
    font-family: 'Verdana';
    color:#000;
  }

h1{
    font-size:40px;
}
h2{
    font-size:26px;
}
h3{
    font-size:20px;
}

.section-bg{
    background-repeat: no-repeat!important;
    background-size:cover!important;
    background-position: center center!important;
}
.btn.main-btn{
    background:var(--primary-color);
     padding:16px 40px;
     color:#fff;
  }
  
  .btn.icon-btn{
      background:fff;
      padding:16px 40px;
      color:#000;
      background:#fff;
  }

  .btn{
      transition:0.3s all ease-in-out;
  }
  .btn:hover{
    transform: translateY(-10px);   
  }


/*==========================
  Header Section 
==========================*/
#header{
  background: #fff;
}
.navbar-toggler-icon{
    background: url(Assets/Images/Menu.png)no-repeat; 
    background-position: center center;
    width: 4.5em;
    height: 2.5em;
}
#header .navbar-collapse{
    position: absolute;
    left: 0;
    right: 0;
    top: 79px;
z-index:10;
}
.navbar-toggler-icon:focus,
.navbar-toggler-icon:active{
    outline: none;
}
.navbar-nav{  
    background:#fff;
    padding:20px;
}
.navbar-nav .nav-link{
    color: var(--primary-color);
}
.navbar-nav .nav-link:hover{
    color:var(--secondary-color);
}

#header .header-social-share ul{
    list-style: none;
    margin-bottom: 0px;
    padding: 0;
}
#header .header-social-share ul li{
    display: inline-block;
}
#header .header-social-share ul li a{
    background: var(--primary-color);
    width: 54px;
    height: 54px;
    color: #fff;
    font-size: 20px;
    box-sizing: border-box;
    display: block;
    text-align: center;
    line-height: 54px;
    border-radius: 50px;
}

header#header {
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}

/*=================================
 Hero Section 
=================================*/
.hero-section{
    background: var(--main-bg-color);
    padding: 200px 0px;
}
.hero-section h1{
    color:#fff;
    font-size:40px;
    margin-bottom: 30px;
}
.hero-section p{
    color:#fff;
    font-size:22px;
    text-transform: uppercase;
    margin-bottom: 20px;
}



/*================================
Event Section 
================================*/
.event-section{
    padding: 200px 0;
    position:relative;
    z-index:1;
}
.event-section:before{
    content: "";
    position: absolute;
    background:linear-gradient(90deg, rgba(199, 177, 152, 0.51) 55%, transparent 55%);
    left: 0;
    right:0;
    bottom: 0;
    top: 0;
    z-index: -1;
    
}
.event-section h2{
    text-transform: uppercase;
}
.event-section h3{
  color:#fff;
  font-size: 26px;
  margin-bottom: 20px;
}


/*===========================
 Services Section 
===========================*/
.service-section{
    padding:51px 0 50px;
}
.service-section .section-heading{
    margin-bottom: 80px;
}
.service-section .section-heading h2{
    text-transform: uppercase;
}
.service-section .section-heading p{
   color:var(--secondary-color);
   font-style: italic;
   font-size: 20px;
}
.service-section h3{
    margin-bottom: 20px;
}
.service-section .text-col p{
  color:var(--secondary-color);
}
.service-section .left-col,
.service-section .right-col{
    display: flex;
    margin-bottom: 30px;
}
.service-section .left-col h3{
    text-align: right;
}
.service-section .img-col{
    text-align: center;
}
.service-section .img-col .service-img{
    background: var(--secondary-color);
    width: 118px;
    height: 118px;
    border-radius:100%;
    transition:0.3s all ease-in-out;
}
.service-section .img-col .service-img:hover{
    background: var(--primary-color);
}


/*=========================================
 Testimonial Section 
========================================*/
.testimonial-section{
    padding:90px 0 90px;
}
.testimonial-section .header-section{
    margin-bottom: 60px;
}
.testimonial-section .header-section h2{
    font-size:42px;
}
.testimonial-section .avatar-img{
    margin-bottom: 40px;
}
.testimonial-section .quote-text {
    max-width: 320px;
    margin:0 auto;
}
.testimonial-section h4{
    font-weight: bold;
    font-style: italic;
    margin-top:40px;
}
.slick-initialized .slick-slide{
    margin:0px 42px;
}
.non-active-testimonial.slick-current.slick-active,
.active-testimonial.slick-current.slick-active{
    opacity:1;
}
.non-active-testimonial.slick-active,
.active-testimonial.slick-active{
    opacity:0.6;
}
.slick-slide img{
    margin:0 auto;
}



.slick-slide:focus{
    outline:none;
  }
  ul.slick-dots{
      padding-left:0px;
      text-align:center;
      margin-top: 90px;
  }
  .slick-list{
      padding:0px!important;
  }

 .slick-dots li{
        margin: 0 5px;
      display: inline-block;
  }
   .slick-dots li.slick-active button {
      width: 14px;
      height: 14px;
      opacity: 1;
      background: #fff;
      border:2px solid #fff;
  }
  .slick-dots li button:hover{
        background: #fff;
        border:2px solid #fff;
  }
   .slick-dots li button {
      font-size: 1px;
      color: transparent;
      border:2px solid #fff;
      padding: 0;
      border: 0;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: none;
      transition: all .2s ease-in-out;
      cursor: pointer;
      
  }
   .slick-dots li button {
      font-size: 1px;
      color: transparent;
      padding: 0;
      border: 0;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: transparent;
      border:2px solid #fff;
      transition: all .2s ease-in-out;
      cursor: pointer;
    
  }
   .slick-dots li:focus,
   .slick-dots li.slick-active button:focus {
      outline: none;
  }
  


/*===================================
  Blog RSS
  ==================================*/
  .blog-rss-section{
      padding:70px 0px 107px;
  }

  .blog-rss-section .section-heading{
      margin-bottom: 40px;
  }
  .blog-rss-section .section-heading h2{
  font-size:36px;
  }
  .blog-rss-section .section-heading p{
      font-size:16px;
      color:#c7b199;
      font-style: italic;
      margin-bottom: 0;
  }
  .blog-rss-section .card-body{
    padding: 0;
    display: flex;
    justify-content: stretch;
    min-height: 290px;
  }
  .blog-rss-section .card-body .card-title{
      font-size:22px;
  }
  .blog-rss-section .card-body .card-text{
   font-size:14px;
   font-size: 14px;
   line-height: 24px;
   color: #989898;
  }
 
  .blog-rss-section .card-body .date-col{
      padding:10px;
  }
  .blog-rss-section .card-body .text-col{
      padding: 20px;
  } 
  .blog-rss-section .date-col{
      background:#ebe2d9;
  }
  .blog-rss-section .date-col p{
    color:var(--primary-color);
    font-size:18px;
  }
  .blog-rss-section .date-col .number{
    font-size:48px;
    color:#b59877;
  }
  .blog-rss-section .card-body,
  .blog-rss-section .card-deck .card{
      border: 0;
  }


/*======================================
  Upcoming Event 
====================================*/
.upcoming-event-section{
    padding:60px 0px;
}
.upcoming-event-section .card{
border:1px solid transparent;
}
.content-streched{
    display:flex;
    justify-content: stretch;
}
.upcoming-event-section span.timing,
 .upcoming-event-section span.location {
    font-size: 14px;
    font-style: italic;
    color: #a0a0a0;
}
.upcoming-event-section .hotel-name{
    color:#b59877;
    font-style: italic;
    font-size: 14px;
}
.upcoming-event-section .card-title{
    margin-bottom: 22px;;
}
.upcoming-event-section .card-text{
    margin-bottom: 10px;
}
.card-text img {
    margin-right: 8px;
}
.upcoming-event-section .btn{
    padding: 7px 16px;
    margin-top:13px;
}

/*=========================================
  Footer Section 
========================================*/
.newsletter-section{
    padding: 112px 0px 148px;
    background:#171717;
}
.newsletter-section .section-heading h2{
    color:#fff;
    font-size: 48px;
    text-transform: uppercase;
}
.newsletter-section .input-group-btn{
    background:#b59877;
    color:#fff;
}
.newsletter-section .input-group{
    max-width: 555px;
    margin:40px auto;
}
.newsletter-section .form-control{
    height:60px;
    border-radius:2px;
}
.newsletter-section .btn{
    margin-bottom: 0;
    line-height: 2.9;
    color:#fff;   
    padding: 6px 40px;
}
.newsletter-section .btn:hover{
    transform: translate(0);
}

.footer-bottom ul{
list-style:none;
padding-left: 0;
}
.footer-bottom ul li{
    display:inline-block;
    border-right: 1px solid #fff;
    padding:0px 20px;
}
.footer-bottom ul li,
.footer-bottom ul li a{
    color:#fff;
    font-size:14px;
}
.footer-bottom ul li:last-child{
    border-right:0px;
}






  
  